


.input {
    all: unset; /* Resets input to a neutral state */
    width: 100%; /* Makes sure it follows container width */
    height: auto;
    box-sizing: border-box;
}

#createAccountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e4f7;
    border: none;
    border-radius: 15px;
    margin: 3% 10% 3% 12%;
    width: 75%;
}

#createAccountForm select{
    width: 50%;
    min-width: 100px;
    max-width: 100%;
    min-height: 30px;
    max-height: 100%;
    border: 1.5px solid #2d2644;
    border-radius: 10px;
    padding-left: 8px;
    background-color: white;
    margin: 10px 0px;
}
#createAccountForm input {
    width: 50%;
    height: 7vh;
    min-width: 100px;
    max-width: 100%;
    min-height: 30px;
    max-height: 100%;
    border: 1.5px solid #2d2644;
    border-radius: 10px;
    padding-left: 8px;
    background-color: white;
    margin: 10px 0px;
}

#createAccountForm label {
    font-size: 1.25em;
    font-weight: bold;
}

#createAccountForm button {
    width: 120px;
    height: 50px;
    font-size: 0.75em;
    padding: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.12em;
    background-color: #3f5d8b;
}

#createAccountForm button:hover {
    cursor: pointer;
    background-color: #2f486d;
}

