


.input {
    all: unset; /* Resets input to a neutral state */
    width: 100%; /* Makes sure it follows container width */
    height: auto;
    box-sizing: border-box;
}

#createAccountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BFCDE0;
    border: none;
    border-radius: 10px;
}

#createAccountForm select{
    width: 65vw;
    min-width: 100px;
    max-width: 100%;
    min-height: 30px;
    max-height: 100%;
    border: 2px solid grey;
    border-radius: 10px;
    padding-left: 8px;
    background-color: #BFCDE0;
    margin: 10px 0px;
}
#createAccountForm input {
    width: 65vw;
    height: 7vh;
    min-width: 100px;
    max-width: 100%;
    min-height: 30px;
    max-height: 100%;
    border: 2px solid grey;
    border-radius: 10px;
    padding-left: 8px;
    background-color: #BFCDE0;
    margin: 10px 0px;
}

#createAccountForm label {
    font-size: 1.25em;
    font-weight: bold;
}

#createAccountForm button {
    width: 100px;
    height: 30px;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #3f5d8b;
}

#createAccountForm button:hover {
    cursor: pointer;
    background-color: #2f486d;
}