*{
    text-decoration: none;
}

h1.inner-header{
    align-self: start;
    margin: 0;
    font-family: Calibri;
    width: 100%;
    padding: 1% 5%;;
    height: auto;
    min-height: 10%;
    background-color: #2d2644;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

li{
    list-style: none;
    display: inline-block;
}
li a{
    color: #bfcde0;
    font-size: calc(20%+2vw); 
    font-weight: bold; 
    margin-right: 25px;
}
li.logo a{
    margin-right: 60px;
    font-size: calc(30%+2vw);
    color: #fefcfd;
}

