*{
    text-decoration: none;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
div.MyTasksPage{
    background-color: #5d5d81;
}
.pageFlexbox{
    display: flex;
    flex-direction: column;
}
div.content-wrapper{
    /* color: #bfcde0; */
    margin-left: 5%;
    margin-right: 5%;
    font-family: Calibri;
}
div.flexbox{
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content:space-between;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.taskBox{
    width: 90%;
}

.create-task-btn {
    background-color: #238de3;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
   
  }
