#notifContainer {
    background-color: white;
    width: 600px;
    height: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#notifContainer table {
    width: 100%;
}

#notifContainer thead td {
    width: 100%;
    color: white;
    background-color: #254E58;
}

/* #notifContainer tbody td { */

.items {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.notifDetails {
    text-align: left !important;
}

#notifContainer tbody td {
    background-color: white;
}

#notifContainer input {
    border: none;
}

#notifContainer button {
    padding: 5px 10px;
}

.subHeader {
    text-align: left !important;
    padding-left: 10px;
}