#notifContainer {
    background-color: white;
    width: 600px;
    height: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#notifContainer table {
    width: 100%;
}

#notifContainer thead td {
    width: 100%;
    color: white;
    background-color: #52799d;
}

/* #notifContainer tbody td { */

.items {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.notifDetails {
    text-align: left !important;
}

#notifContainer input {
    border: none;
}

#notifContainer button {
    padding: 5px 10px;
}

.subHeader {
    text-align: left !important;
    padding-left: 10px;
    color: white;
    background-color: #52799d;
}

.delete:hover {
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
}

.smallTeamButton {
    color: white;
    background-color: #004080;
    border: none;
}

.smallTeamButton:hover {
    cursor: pointer;
    border: none;
    background-color: black;

}

