.container{
    display: flex;
    flex-direction: column;
}
table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.taskTable {
    border-collapse: collapse;
    border: none;
}

table td, table th {
    border: 1px solid grey; /* Keeps inner borders */
}

th,td{
    padding:10px;
    background-color: white;
}
thead th{
    /* background-color: #437676; */
    background-color: #52799d;
}
.tableHeader :hover{
    background-color: #3d6285;
}
.link :hover{
    background-color: darkslategray;
}

.selector{
    padding: 2px;
    height: 100%;
    width: 25% !important;
    background-color: white;
}
.searchContainer{
    width: 75% !important;
    height: 100%;
    margin-left: 10px;
    border-radius: 20px;
}
.Selector-Search{
    padding: 3px;
    display: flex;
    margin-top: 5px;
}
.search-form {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    
  }

  .selector {
   height: 43px;
  }
  
  .search-input {
    flex: 1;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    background-color: white;
  }

  td a {
    color: black;
    text-decoration: underline;
    color: #0f145b;
  }

  #searchThis {
    color: red;
  }